Removing features with low variance

In [7]:
import pandas as pd
import numpy as np

Dropping constant feature

In [27]:
A={
    "First" : [1,2,3,4,5],
    'Second' : [6,32,65,2,4],
    "Third" :[1,1,1,1,1],
    "Fourth" : [0,0,0,0,0],
    "Five":[5,5,5,5,5]
}
df=pd.DataFrame(A)
df

   First  Second  Third  Fourth  Five
0      1       6      1       0     5
1      2      32      1       0     5
2      3      65      1       0     5
3      4       2      1       0     5
4      5       4      1       0     5

Here We use Variance Threshold class from sklearn

It basically means : Feature selector that removes all low-variance features.

syntax: sklearn.feature_selection.VarianceThreshold(threshold=0.0)

This feature selection algorithm looks only at the features (X), not the desired outputs (y)

In [28]:
from sklearn.feature_selection import VarianceThreshold

vt=VarianceThreshold()

vt.fit(df)
VarianceThreshold(threshold=0)

vt.get_support()

array([ True,  True, False, False, False])

In [30]:
same_col= [ col for col in df.columns if col not in df.columns[vt.get_support()]]
print(len(same_col))
#found the total constant values

3

In [40]:
#and finally we drop col

df.drop(same_col,axis=1,inplace=True)
df

   First  Second
0      1       6
1      2      32
2      3      65
3      4       2
4      5       4

In [55]:
Df=pd.read_csv('sample_submission.csv',nrows=1000)
print(Df)

Vt=VarianceThreshold()
Vt.fit(Df)
Vt.get_support()
dup_c=[d for d in Df.columns if d not in Df.columns[Vt.get_support()]]
dup_c
Df.drop(dup_c,axis=1,inplace=True)
Df.head(5)

       ID  TARGET
0       2       0
1       5       0
2       6       0
3       7       0
4       9       0
..    ...     ...
995  2015       0
996  2018       0
997  2019       0
998  2023       0
999  2024       0

[1000 rows x 2 columns]

   ID
0   2
1   5
2   6
3   7
4   9

In [83]:
from sklearn.feature_selection import VarianceThreshold
df1=pd.read_csv('train.csv',nrows=199)
print(df1.shape)
var_thres=VarianceThreshold()
var_thres.fit(df1)

dp=[c for c in df1.columns if c not in df1.columns [var_thres.get_support()]]
df1.drop(dp,axis=1,inplace=True)
df1
df1.shape

(199, 371)

(199, 199)

In [88]:
data=df1=pd.read_csv('train.csv',nrows=1000)
data.columns
x=data.drop(labels=['TARGET'], axis=1)
y=data['TARGET']

In [98]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y , test_size=0.2, random_state=0)
X_train.shape, X_test.shape
#spliited

((800, 370), (200, 370))

In [118]:
#apply variance threshold
VT=VarianceThreshold(threshold=0.0)
VT.fit(X_train)
sum(VT.get_support())
X_train.columns.value_counts().sum()

dupp=[a for a in X_train.columns if a not in X_train.columns[VT.get_support()]]
dupp
X_train.drop(dupp,axis=1,inplace=True)
X_train.shape

(800, 233)